html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;

  grid-template-columns: 1fr;
  display: grid;
  grid-template-areas:
  "header"
  "main"
}

header {
  grid-area: header;
}

header img {
  width: 100vw;
}

ul {
  list-style-type: none;
}

h2 {
  font-style: italic;
}

dt {
  font-style: italic;
}

main {
  grid-area: main;
}

figure {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.main-grid {
  list-style-type: none;
  padding: 0;
  width: 100vw;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: .75rem;
}

.main-grid li {
  padding: 1rem;
}

@media screen and (min-width: 40em) {

  body {

    grid-template-columns: 30% 30% 30%;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main";
  }
}

@media screen and (max-width: 60em) {

  body {
    max-width: 90em;
    margin: 0 auto;
  }
}
