html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  align-self: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  grid-template-columns: 1fr;
  display: grid;
  grid-template-areas:
    "header"
    "main";
}

header {
  position: relative;
  grid-area: header;
}

h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.8rem;
  padding: 5px;
  margin-left: .5rem;
}

header img {
  width: 100vw;
  padding: 0;
}

.header-text {
  position: absolute;
  bottom: 1rem;
  left: 10px;
  color: white;
  line-height: .75rem;
  padding-bottom: 4px;
  padding-left: .25rem;
  margin: 0;
  border: 0;
}

header h2 {
  font-weight: normal;
}

.h2 {
  font-style: italic;
}

figcaption {
  font-style: italic;
  font-size: 1.8rem;
}

main img {
  width: 100%;
  max-height: 300px;
}

dt {
  font-style: italic;
}

main {
  grid-area: main;
}

figure {
  border: 0;
  margin: 0;
  padding: 0;
}

.main-grid {
  list-style-type: none;
  padding: 0;
  padding-top: .25rem;
  margin: 0;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .75rem;
}
